<button type='button' class='collapsible active'>not available</button>
<div class='content' --start-code='none' --end-code='none'>
<p> code content will go here</p>
</div>
<button type='button' class='collapsible active'>not available</button><div class='content'>
</div>
</div>

<button type='button' class='collapsible active'>+ glitched screenshot</button>
<div class='content' --start-code='client = person.client
addr = person.addr

# get persons name
name = client.recv(BUFSIZ).decode("utf8")
msg = f"{name} has joined the chat!"
broadcast(msg)

while True:
  msg = client.recv(BUFSIZ)
  if msg == bytes("[quit]", "utf8"):
    client.send(bytes("[quit]", "utf8"))
    client.close()
    persons.remove(person)
  else:' --end-code='glitched screenshot'>
<p> code content will go here</p>
</div>
<button type='button' class='collapsible active'>+     </button>
<div class='content' --start-code='client = person.client

name = client.recv(BUFSIZ).decode("utf8")
msg = f"{name} has joined the chat!"
broadcast(msg, name)

while True:
  try:
    msg = client.read(BUFSIZ)
    print(f"{name}: ", msg.decode("utf8"))
' --end-code='client = person.client

name = client.recv(BUFSIZ).decode("utf8")
msg = f"{name} has joined the chat!"
broadcast(msg, name)

while True:
  try:
    msg = client.read(BUFSIZ)
    print(f"{name}: ", msg.decode("utf8"))

    if msg == bytes("[quit]", "utf8"):
      broadcast(f"{name} has left the chat...","")
      client.send(bytes("[quit]", "utf8")'>
<p> code content will go here</p>
</div>
<button type='button' class='collapsible active'>+ ot sand messager msg</button>
<div class='content' --start-code='ot saod_nossagat msg)

para

cient socket send(oyten(me. »
at mag =
client socket close)

eeceave thread - Thread( saree receive messages?
receive cnvead. stare()

.

sena_nessagel ©}

tine stee()

‘snd nes sazel ,
' --end-code='ot sand messager msg

para

cient socket send(oyten(me. »
at mag =
client socket close)

eeceave thread - Thread( saree receive messages?
receive cnvead. stare()

.

sena_nessagel ©}

tine stee()

‘snd nes sazel ,
'>
<p> code content will go here</p>
</div>
<button type='button' class='collapsible active'>+ def __init__(self, name):</button>
<div class='content' --start-code='while True:
  try:
    msg = client.read(BUFSIZ)
    print(f"{name}: ", msg.decode("utf8"))

    if msg == bytes("[quit]", "utf8"):
      client.send(bytes("[quit]", "utf8")
      client.close()
      broadcast(f"{name} has left the chat...","")
      persons.remove(person)
      break
    else:
      broadcast(msg, name=": "_
      print(f"{name}: ", msg.decode("utf8"))
  except Exception as e:' --end-code='def __init__(self, name):
  self.client_socket = socket(AF_INET, SOCK_STREAM)
  self.client_socket.connect(self.ADDR)
  self.messages = []
  receive_thread = Thread(target=self.receive_messages)

def receive_messages(self):
  while True:
    try:
      msg = self.client_socket.recv(self.BUFSIZ).decode("utf8")
      self.messages.append(msg)
    except Exception as e:
      print("[EXCEPTION]", e)
      break'>
<p> code content will go here</p>
</div>
<button type='button' class='collapsible active'>search: thread lock python</button><div class='content'>
<div class='title'><span><a href='javascript:' onclick='seek(3624)'>shared concurrent memory python</a></span></div><hr>
<div class='webImageLongRow'>
</div>
<div class='title'><span><a href='javascript:' onclick='seek(3731)'>thread lock python</a></span></div><hr>
<div class='webImageLongRow'>
</div>
</div>

<button type='button' class='collapsible active'>+ while True:</button>
<div class='content' --start-code='preatinng)
if msg =
ron + False

break
Uceadt eo gr -upuate messages ) start

ci .send messaze( >
tame ssleepts)

cls send,aezsaget >

tame. sleapts)

ci send messages >
Line sleeots)

cdo vend nessagel >
tame sLeeof 5)

hedincomert)
tie. sleep(?)
' --end-code='while True:
  try:
    msg = client.recv(BUFSIZ)
    if msg == bytes("[quit]", "utf8"):
      client.close()
      persons.remove(person)
      broadcast(bytes(f"{name} has left the chat...", "utf8")
      print(f"[DISCONNECTED] {name} disconnected")
      break
    else:
      broadcast(msg, name=": ")
      print(f"{name}: ", msg.decode("utf8"))
  except Exception as e:
    print("[EXCEPTION]", e)
    break'>
<p> code content will go here</p>
</div>
<button type='button' class='collapsible active'>+ from flask import Flask, render_template</button>
<div class='content' --start-code='From flask import Flask
app = FLask(__name__)

if __name__ == "__main__":
  app.run()
' --end-code='from flask import Flask, render_template

NAME_KEY = "name"

app = Flask(__name__)
app.secret_key = "kawjdnawkjdnawkjdn"

@app.route("/login")
def login():
  return render_template("")


@app.route("/")
@app.route("/home")
def home():
  if NAME_KEY not in session:
    return redirect(url_for("login"))
  return render_template("")

if __name__ == "__main__":
  app.run(debug=True)  '>
<p> code content will go here</p>
</div>
<button type='button' class='collapsible active'>search: bootstrap website themes</button><div class='content'>
<div class='title'><span><a href='javascript:' onclick='seek(6150)'>bootstrap website themes</a></span></div><hr>
<div class='webImageLongRow'>
        <div class='sideBySideImage'> <table><tbody><tr><td><img src='/images/techWithTim/screencapture-localhost-9000-2022-07-19-13_15_31' width='180' height='112'> </td></tr><tr><td>bootstrapmade.com</td></tr></tbody></table></div>
</div>
<div class='title'><span><a href='javascript:' onclick='seek(6223)'>simple free website themes</a></span></div><hr>
<div class='webImageLongRow'>
</div>
<div class='title'><span><a href='javascript:' onclick='seek(6437)'>bootstrap website themes</a></span></div><hr>
<div class='webImageLongRow'>
        <div class='sideBySideImage'> <table><tbody><tr><td><img src='/images/techWithTim/screencapture-localhost-9000-2022-07-19-13_30_07' width='180' height='112'> </td></tr><tr><td>getbootstrap.com/docs/4.4/components/navbar</td></tr></tbody></table></div>
</div>
</div>

<button type='button' class='collapsible active'>+ Ys extends "base html" %}</button>
<div class='content' --start-code='<doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport">
    <link rel="stylesheet">
    <title>{% block title%}{% endblock %}</title>
  </head>

  <body>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <script src="https://..">
    <script src="https://..">
    <script src="https://..">

  </body>
</html>' --end-code='Ys extends "base html" %}
Yh block title SHonef endblack 9}
AK blocle content

4% endblock 3}
'>
<p> code content will go here</p>
</div><button type='button' class='collapsible active'>revisit: getbootstrap.com</button><div class='content'>
        <div class='sideBySideImage'> <table><tbody><tr><td><img src='/images/techWithTim/screencapture-localhost-9000-2022-07-19-17_25_51' width='180' height='112'> </td></tr><tr><td bgColor='lightblue'>getbootstrap.com</td></tr></tbody></table></div>
        <div class='sideBySideImage'> <table><tbody><tr><td><img src='/images/techWithTim/screencapture-localhost-9000-2022-07-19-17_26_55' width='180' height='112'> </td></tr><tr><td>github.com</td></tr></tbody></table></div>
</div>
</div>

<button type='button' class='collapsible active'>revisit: StackOverflow</button><div class='content'>
        <div class='sideBySideImage'> <table><tbody><tr><td><img src='/images/techWithTim/screencapture-localhost-9000-2022-07-19-17_27_56' width='180' height='112'> </td></tr><tr><td bgColor='lightblue'>stackOverflow</td></tr></tbody></table></div>
        <div class='sideBySideImage'> <table><tbody><tr><td><img src='/images/techWithTim/screencapture-localhost-9000-2022-07-19-17_38_12' width='180' height='112'> </td></tr><tr><td bgColor='lightblue'>StackOverflow</td></tr></tbody></table></div>
</div>
</div>

<button type='button' class='collapsible active'>+ | Mfunction(> 4</button>
<div class='content' --start-code='$.function() {
           $("#test").bind("click, function() {
             $.getJSON("/run",
               function(data) {
                 //do nothing
               });
               return False;
              });
            });' --end-code='| Mfunction(> 4

SC stim ")binwl 0 sy function)

$.gerI80UC fru, fe ee oats
Funetion(sata) {
a2 ovna2
D:
return false;
be
Dr
'>
<p> code content will go here</p>
</div><button type='button' class='collapsible active'>+     <a class="navbar-brand" href="#">Navbar</a></button>
<div class='content' --start-code='<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1 class="navbar-brand" href="#">CHAT APP</h1>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Chat</a>
      <a class="nav-item nav-link" href="#">Login</a>
      <a class="nav-item nav-link" href="#">Logout</a>
    </div>
  </nav>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>


</body>' --end-code='<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul clas="navbar-nav">
        <li class="nav-item active">
          <a class="nav-item nav-link active" href="#">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
'>
<p> code content will go here</p>
</div>
<button type='button' class='collapsible active'>+ ee wrens</button>
<div class='content' --start-code='button «las

svbar-taggler™ types"button™ data-togdles*i ot Lapse” dat act arget oa rNava markup

span Closs="navbar-toggler-icon?9¢/span>
cfeatton>
ediy classs"rol lapse navbar-col lapse’ ads “navbarNaval Markup" >
ediv Class “nasbar-nay">
4a class. "hay item nay Link active’ href. */hame"schat cspan class"se aely">( current )</$paa>c/a>

ea class-"pay item nay Link” href-“/logia*Logine/ay
<a class: “nav stem nay Link href */Logout“sLogout </a>
eidiv>
aie
<feav>

(% block message 4}
1% endblock 4)

ediv class-"container">
{% nlock content x}
1% endblock &F
</diva
' --end-code='ee wrens

<button «Lire Tnavtar-taggl og gg Btg Ig”

capan classs"navbar-toggle
</button>
ediv class="col Lapse navhar-ral lapse” id

Gdiv (Layee nawbar-nay">

@ Class thay aten muy Link seraveT href.
ka class-Tnoy item nav-Link” nref-“/togiay
¢a class “nay stem aay Link” href -"/tagout

endive
</i>
ina

ediv class ‘alert alert dark’ rote ‘alert“>
{4 block messagesrey 3}
1% endblock %)

“itive

ediv Classe ‘alert alert-success* rolesatere Oy
13 endolork 4}

eidiv>

'>
<p> code content will go here</p>
</div>
<button type='button' class='collapsible active'>search: html scroll view updated from flask backend</button><div class='content'>
        <div class='sideBySideImage'> <table><tbody><tr><td><img src='/images/techWithTim/screencapture-localhost-9000-2022-07-20-12_20_54' width='180' height='112'> </td></tr><tr><td bgColor='lightblue'>github.com</td></tr></tbody></table></div>
<div class='title'><span><a href='javascript:' onclick='seek(9970)'>scroll view html bootstrap</a></span></div><hr>
<div class='webImageLongRow'>
        <div class='sideBySideImage'> <table><tbody><tr><td><img src='/images/techWithTim/screencapture-localhost-9000-2022-07-20-12_25_38' width='180' height='112'> </td></tr><tr><td>w3schools.com</td></tr></tbody></table></div>
</div>
<div class='title'><span><a href='javascript:' onclick='seek(10052)'>html scroll view updated from flask backend</a></span></div><hr>
<div class='webImageLongRow'>
</div>
</div>

<button type='button' class='collapsible active'>revisit: getbootstrap.com</button><div class='content'>
        <div class='sideBySideImage'> <table><tbody><tr><td><img src='/images/techWithTim/screencapture-localhost-9000-2022-07-20-12_28_22' width='180' height='112'> </td></tr><tr><td bgColor='lightblue'>stackOverflow</td></tr></tbody></table></div>
        <div class='sideBySideImage'> <table><tbody><tr><td><img src='/images/techWithTim/screencapture-localhost-9000-2022-07-20-12_28_22' width='180' height='112'> </td></tr><tr><td>mdbootstrap.com</td></tr></tbody></table></div>
        <div class='sideBySideImage'> <table><tbody><tr><td><img src='/images/techWithTim/screencapture-localhost-9000-2022-07-20-12_28_58' width='180' height='112'> </td></tr><tr><td bgColor='lightblue'>getbootstrap.com</td></tr></tbody></table></div>
</div>
</div>

<button type='button' class='collapsible active'>+ Sfurctionc) {</button>
<div class='content' --start-code='ont) d
).binat
$.get 150M .
functson(aata) {
value + document -get€lement y10(
vi
return fas

valadate(name) {

wane. lengeh >= 131
return true:

yen false:

' --end-code='Sfurctionc) {
¥ ).binat + tome t sot) {
Seger isoKl "
functaontaata) {
value + document get€lenentoyidt
ni
eeturn false:
Ds
De

function valadate( name) {
affnane Length >= 131
return true:
,
return false:
'>
<p> code content will go here</p>
</div>
<button type='button' class='collapsible active'>+   <div class="container"></button>
<div class='content' --start-code='{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}

<h1>TEST</h1>

<div class="input-group mb-3">
  <form>
    <input type="text" class="form-control">
    <div class="input-group-append">
      <button class="btn btn-outline-primary" type="button">Button</button>
    </div>
  </form>
</div>

{% endblock %}' --end-code='  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <script src=""></script>
  <script src=""></script>
  <script src=""></script>
  <script src=""></script>
</body>'>
<p> code content will go here</p>
</div>
<button type='button' class='collapsible active'>search: flask session object of type is not json serializable</button><div class='content'>
        <div class='sideBySideImage'> <table><tbody><tr><td><img src='/images/techWithTim/screencapture-localhost-9000-2022-07-20-12_52_52' width='180' height='112'> </td></tr><tr><td bgColor='lightblue'>techwithtim.net</td></tr></tbody></table></div>
<div class='title'><span><a href='javascript:' onclick='seek(11542)'>flask get request</a></span></div><hr>
<div class='webImageLongRow'>
        <div class='sideBySideImage'> <table><tbody><tr><td><img src='/images/techWithTim/screencapture-localhost-9000-2022-07-20-12_53_47' width='180' height='112'> </td></tr><tr><td>flask.palletsprokects.com</td></tr></tbody></table></div>
</div>
<div class='title'><span><a href='javascript:' onclick='seek(11823)'>flask session object of type is not json serializable</a></span></div><hr>
<div class='webImageLongRow'>
</div>
</div>

<button type='button' class='collapsible active'>+ NAME_KEY = 'name'</button>
<div class='content' --start-code='@app.route("/home")
def home():
  if NAME_KEY not in session:
    return redirect(url_for("login"))

  client = Client(session[NAME_KEY])
  return render_template("index.html", **["login":True, "session":session})

@app.route("/run/", methods=["GET"]):
def run(url=None):
  msg = request.args.get("val")
  if client != None:
    client.send_message(msg)

  return "none"

if __name__ == "__main__":
  app.run(debug=True)' --end-code='NAME_KEY = "name"
client = None
app = Flask(__name__)
app.secret_key = "kjawndkajnwdka"

def disconnect():
  global client
  if client:
    client.disconnect()

@app.route("/login", methods=["POST","GET"])
def login():
  disconnect()
  if request.method == "POST":
    session[NAME_KEY] = request.formn["inputName"]
    return redirect(url_for("home"))'>
<p> code content will go here</p>
</div>
<button type='button' class='collapsible active'>search: javascript on document load</button><div class='content'>
        <div class='sideBySideImage'> <table><tbody><tr><td><img src='/images/techWithTim/screencapture-localhost-9000-2022-07-20-13_21_12' width='180' height='112'> </td></tr><tr><td bgColor='lightblue'>stackOverflow</td></tr></tbody></table></div>
        <div class='sideBySideImage'> <table><tbody><tr><td><img src='/images/techWithTim/screencapture-localhost-9000-2022-07-20-13_25_54' width='180' height='112'> </td></tr><tr><td>www.odoo.com</td></tr></tbody></table></div>
<div class='title'><span><a href='javascript:' onclick='seek(13570)'>javascript constantly run function</a></span></div><hr>
<div class='webImageLongRow'>
        <div class='sideBySideImage'> <table><tbody><tr><td><img src='/images/techWithTim/screencapture-localhost-9000-2022-07-20-13_39_41' width='180' height='112'> </td></tr><tr><td>rafaelservantez.com</td></tr></tbody></table></div>
</div>
<div class='title'><span><a href='javascript:' onclick='seek(13678)'>javascript on document load</a></span></div><hr>
<div class='webImageLongRow'>
        <div class='sideBySideImage'> <table><tbody><tr><td><img src='/images/techWithTim/screencapture-localhost-9000-2022-07-20-13_41_12' width='180' height='112'> </td></tr><tr><td bgColor='lightblue'>stackOverflow</td></tr></tbody></table></div>
</div>
</div>

<button type='button' class='collapsible active'>+       {val:value}</button>
<div class='content' --start-code='function validate(name) {
  if (name.length >= 2) {
    return True;
  }
  return False;
}

fetch("/get_messages")
  .then(function (resposne) {
    return response.text();
  }).then(function (text) {
      console.log("GET response text:");
      console.log(text);
  }};' --end-code='      {val:value}
      function(data)
      });
  fetch("/get_messages")
    .then(function (resposne) {
      return response.text();
    }).then(function (text) {
        console.log("GET response text:");
        console.log(text);
    }};'>
<p> code content will go here</p>
</div><button type='button' class='collapsible active'>+ pdated</button>
<div class='content' --start-code='function update(){
  fetch("/get_messages")
    .then(function (resposne) {
      return response.text();
    }).then(function (text) {
        console.log("GET response text:");
        document.getElementById("test").innerHTML = text
    }};
    return False
};' --end-code='pdated

alesneges )

sthea( function (response) {
return response.text(;

¥.then(function (text) {
document. getELenenteyrd(«

De

return false;

Jeinmertext = text;

'>
<p> code content will go here</p>
</div>
<div class='content'>
<div class='title'><span><a href='javascript:' onclick='seek(15294)'>javascript json object</a></span></div><hr>
<div class='webImageLongRow'>
</div>
<div class='title'><span><a href='javascript:' onclick='seek(15320)'>javascript for loop of</a></span></div><hr>
<div class='webImageLongRow'>
</div>
</div>